.cli {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 1.25rem 1.1rem;

  /* Terminal look */
  background: radial-gradient(
      1200px 600px at 50% -200px,
      rgba(255, 255, 255, 0.04),
      transparent 60%
    ),
    #0b0b0d;

  font-family: "JetBrains Mono", monospace;
  font-size: 0.86rem;
  line-height: 1.65;
  color: #e5e7eb;

  /* UX */
  overscroll-behavior: contain;
  scroll-padding-bottom: 2rem;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

.cli::-webkit-scrollbar {
  width: 7px;
}

.cli::-webkit-scrollbar-track {
  background: transparent;
}

.cli::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 999px;

  opacity: 0;
  transition: opacity 0.25s ease, background 0.2s ease;
}

.cli:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.cli::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.45)
  );
}


/* Generic line */
.line {
  line-height: 1.7;
  white-space: pre-wrap;
}

/* Space between blocks */
.spacer {
  height: 0.8rem;
}

/* Prompt */
.prompt {
  color: #2563eb;
}

.prompt-space {
  display: inline-block;
  width: 0.6rem;
}

/* Input */
.input-line {
  display: flex;
  align-items: center;
}

input {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  flex: 1;
}

/* Typing */
.typing-ok {
  color: #22c55e;
}

.typing-error {
  color: #ef4444;
}

.system-title {
  display: block;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
  color: #e5e7eb;
  margin-bottom: 0.3rem;
}

.system-sub {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: #9ca3af;
}


/* Titles */
.title {
  color: #facc15;
  font-weight: 600;
}

/* Commands */
.cmd-green {
  color: #22c55e;
}

.cmd-desc {
  color: #e5e7eb;
  font-weight: 550;
}

/* Errors */
.error {
  color: #ef4444;
}

/* Labels */
.label {
  color: rgb(255, 113, 255);
}

.value {
  color: #ffffff;
  font-weight: 600;
}

/* Numbers */
.number {
  color: #ab40ceef;
  font-weight: 600;
}

/* Projects */
.project {
  margin-bottom: 1rem;
}

.project-name {
  color: #7dd3fc;
  font-weight: 600;
}

.project-intro {
  color: #e5e7eb;
  margin-left: 1rem;
}

.project-stack {
  color: #9ca3af;
  margin-left: 1rem;
  font-style: italic;
}
.project-stack b {
  color: #2ffce0;
  font-weight: 600;
}


/* Highlight */
.highlight {
  color: #facc15;
  font-weight: 500;
}
