/* =====================
   NAV (WRAPPER ONLY)
===================== */
nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 35px;
  padding: 0 1rem;

  background: rgba(20, 20, 22, 0.7);
  backdrop-filter: blur(18px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  font-size: 0.75rem;

  z-index: 1000;
}
